<!DOCTYPE html>
<html lang="en">

<head>
    <%- include ('../layout/head.ejs')%>
</head>

<body>
    <%- include ('../layout/header.ejs')%>
    <form action="/" method="get">
        <div>
            <% books.forEach(val=>{%>
            <div class="outer-box">
                <div class="book-box">
                    <img src="<%=val.smallThumbnail%>" id="book-img">
                </div>
                <h2 id="book-title"><%=val.title%></h2>
                <h4 id="book-author"><%=val.author%></h4>
                <p id="book-desc"><%=val.description%></p>
            </div>
            <form action="/books" method="post">
                <input type="text" class="hide" name="title" value="<%=val.title%>">
                <input type="text" class="hide" name="author" value="<%=val.author%>">
                <input type="text" class="hide" name="isbn"  value="<%=val.isbn%>">
                <input type="text" class="hide" name="image_url" value="<%=val.smallThumbnail%>">
                <input type="text" class="hide" name="description" value="<%=val.description%>">
                <button><a href="/books/book_id" id="addBook">Select this book</a></button>
            </form>
            <% }) %>

        </div>
    </form>
</body>

</html>